In [2]:
from google.colab import files
uploaded = files.upload()
import pandas as pd
#from google.colab import drive
#drive.mount('/content/gdrive')
#root_path = 'gdrive/My Drive/Colab Notebooks/NLP/NER/'
data = pd.read_csv('ner_dataset.csv', encoding= 'unicode_escape')
data.head()

Saving ner_dataset.csv to ner_dataset (1).csv

    Sentence #           Word  POS Tag
0  Sentence: 1      Thousands  NNS   O
1          NaN             of   IN   O
2          NaN  demonstrators  NNS   O
3          NaN           have  VBP   O
4          NaN        marched  VBN   O

In [9]:
#extracting the mappings required to train the neural network
from itertools import chain
def get_dict_map(data, token_or_tag):
    tok2idx = {}
    idx2tok = {}
    
    #Getting unique values of words and tags
    if token_or_tag == 'token':
        vocab = list(set(data['Word'].to_list()))
    else:
        vocab = list(set(data['Tag'].to_list()))
    #Create 2 dictionaries {value, index} and {index, value} for all the items in the vocab 
    idx2tok = {idx:tok for  idx, tok in enumerate(vocab)}
    tok2idx = {tok:idx for  idx, tok in enumerate(vocab)}
    return tok2idx, idx2tok
token2idx, idx2token = get_dict_map(data, 'token')
tag2idx, idx2tag = get_dict_map(data, 'tag')

In [14]:
#transform the columns in the data to extract the sequential data for neural network
#Get the sequential indexes of all the words and the tags
data['Word_idx'] = data['Word'].map(token2idx)
data['Tag_idx'] = data['Tag'].map(tag2idx)
#method='ffill': Ffill or forward-fill propagates the last observed non-null value forward until another non-null value is encountered
data_fillna = data.fillna(method='ffill', axis=0)
data_fillna[1:25]

     Sentence #           Word  POS    Tag  Word_idx  Tag_idx
1   Sentence: 1             of   IN      O      4938        5
2   Sentence: 1  demonstrators  NNS      O       931        5
3   Sentence: 1           have  VBP      O     19137        5
4   Sentence: 1        marched  VBN      O     14871        5
5   Sentence: 1        through   IN      O      9561        5
6   Sentence: 1         London  NNP  B-geo      2174       17
7   Sentence: 1             to   TO      O      6442        5
8   Sentence: 1        protest   VB      O      8166        5
9   Sentence: 1            the   DT      O      3414        5
10  Sentence: 1            war   NN      O     16068        5
11  Sentence: 1             in   IN      O     18069        5
12  Sentence: 1           Iraq  NNP  B-geo     18358       17
13  Sentence: 1            and   CC      O     10586        5
14  Sentence: 1         demand   VB      O     17453        5
15  Sentence: 1            the   DT      O      3414        5
16  Sentence: 1     withdrawal   NN      O     11193        5
17  Sentence: 1             of   IN      O      4938        5
18  Sentence: 1        British   JJ  B-gpe     14029        6
19  Sentence: 1         troops  NNS      O     13247        5
20  Sentence: 1           from   IN      O     12971        5
21  Sentence: 1           that   DT      O     24178        5
22  Sentence: 1        country   NN      O        55        5
23  Sentence: 1              .    .      O     13222        5
24  Sentence: 2       Families  NNS      O      7478        5

In [15]:
data_group = data_fillna.groupby(['Sentence #'],as_index=False)['Word', 'POS', 'Tag', 'Word_idx', 'Tag_idx'].agg(lambda x: list(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [19]:
data_group

            Sentence #  ...                                            Tag_idx
0          Sentence: 1  ...  [5, 5, 5, 5, 5, 5, 17, 5, 5, 5, 5, 5, 17, 5, 5...
1         Sentence: 10  ...  [6, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, ...
2        Sentence: 100  ...  [5, 5, 10, 5, 5, 5, 5, 5, 17, 5, 5, 5, 5, 5, 1...
3       Sentence: 1000  ...                  [5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5]
4      Sentence: 10000  ...  [17, 5, 5, 4, 7, 5, 10, 5, 17, 5, 6, 5, 6, 5, ...
...                ...  ...                                                ...
21980   Sentence: 9995  ...  [5, 5, 5, 4, 7, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, ...
21981   Sentence: 9996  ...  [5, 10, 5, 6, 5, 5, 5, 5, 5, 5, 5, 5, 16, 12, ...
21982   Sentence: 9997  ...  [5, 17, 5, 5, 10, 3, 5, 5, 5, 5, 5, 5, 5, 5, 5...
21983   Sentence: 9998  ...  [5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, ...
21984   Sentence: 9999  ...  [5, 16, 12, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5...

[21985 rows x 6 columns]

In [20]:
'''We are using LSTM for training the model. LSTM layers accept sequences of the same length only.
So every sentence that appears as integer in the data must be padded with the same length (Using Keras Pre-processing).
And splitting the data into train, test and validate datasets
'''
from sklearn.model_selection import train_test_split
from keras.preprocessing.sequence import pad_sequences
from keras.utils import to_categorical

def get_pad_train_test_val(data_group, data):

    #get token and tag length
    n_token = len(list(set(data['Word'].to_list()))) #Unique number of words in the data
    n_tag = len(list(set(data['Tag'].to_list()))) #Unique number of tags in the data

    #Pad tokens (X var)    
    tokens = data_group['Word_idx'].tolist() #List of lists of tokens
    maxlen = max([len(s) for s in tokens]) # Maximum length of the list in the list
    pad_tokens = pad_sequences(tokens, maxlen=maxlen, dtype='int32', padding='post', value= n_token - 1) #Pad given value after the list(post) 

    #Pad Tags (y var) and convert it into one hot encoding
    tags = data_group['Tag_idx'].tolist() #List of lists of tags
    pad_tags = pad_sequences(tags, maxlen=maxlen, dtype='int32', padding='post', value= tag2idx["O"]) #Default padding value O (same length as tokens)
    n_tags = len(tag2idx) #Get unique categories in tags column
    pad_tags = [to_categorical(i, num_classes=n_tags) for i in pad_tags] #Create additional columns for each category (One-hot encoding)
    
    #Split train, test and validation set
    tokens_, test_tokens, tags_, test_tags = train_test_split(pad_tokens, pad_tags, test_size=0.1, train_size=0.9, random_state=2020)
    train_tokens, val_tokens, train_tags, val_tags = train_test_split(tokens_,tags_,test_size = 0.25,train_size =0.75, random_state=2020)

    print(
        'train_tokens length:', len(train_tokens),
        '\ntrain_tags length:', len(train_tags),
        '\ntest_tokens length:', len(test_tokens),
        '\ntest_tags:', len(test_tags),
        '\nval_tokens:', len(val_tokens),
        '\nval_tags:', len(val_tags),
    )
    
    return train_tokens, val_tokens, test_tokens, train_tags, val_tags, test_tags

train_tokens, val_tokens, test_tokens, train_tags, val_tags, test_tags = get_pad_train_test_val(data_group, data)

train_tokens length: 14839
train_tags length: 14839
test_tokens length: 2199
test_tags: 2199
val_tokens: 4947
val_tags: 4947

In [21]:
#Training Neural Network for Named Entity Recognition (NER)

import numpy as np
import tensorflow
from tensorflow.keras import Sequential, Model, Input
from tensorflow.keras.layers import LSTM, Embedding, Dense, TimeDistributed, Dropout, Bidirectional
from tensorflow.keras.utils import plot_model
from numpy.random import seed
seed(1)
tensorflow.random.set_seed(2)

In [22]:
def lstm_model():
    model = Sequential()
    # Add Embedding layer
    model.add(Embedding(input_dim=input_dim, output_dim=output_dim, input_length=input_length))
    # Add bidirectional LSTM
    model.add(Bidirectional(LSTM(units=output_dim, return_sequences=True, dropout=0.2, recurrent_dropout=0.2), merge_mode = 'concat'))
    # Add LSTM
    model.add(LSTM(units=output_dim, return_sequences=True, dropout=0.5, recurrent_dropout=0.5))
    # Add timeDistributed Layer
    model.add(TimeDistributed(Dense(n_tags, activation="relu")))
    # Compile model
    model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
    model.summary()
    return model

In [23]:
def train_model(X, y, model):
    loss = list()
    for i in range(25):
        # fit model for one epoch on this sequence
        hist = model.fit(X, y, batch_size=1000, verbose=1, epochs=1, validation_split=0.2)
        loss.append(hist.history['loss'][0])
    return loss

In [24]:
#Specify the input and output dimensions to the neural network
input_dim = len(list(set(data['Word'].to_list())))+1
output_dim = 64
input_length = max([len(s) for s in data_group['Word_idx'].tolist()])
n_tags = len(tag2idx)

In [25]:
results = pd.DataFrame()
model = lstm_model()
plot_model(model)
results['with_add_lstm'] = train_model(train_tokens, np.array(train_tags), model)

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding (Embedding)        (None, 72, 64)            1547776
_________________________________________________________________
bidirectional (Bidirectional (None, 72, 128)           66048
_________________________________________________________________
lstm_1 (LSTM)                (None, 72, 64)            49408
_________________________________________________________________
time_distributed (TimeDistri (None, 72, 18)            1170
=================================================================
Total params: 1,664,402
Trainable params: 1,664,402
Non-trainable params: 0
_________________________________________________________________
12/12 [==============================] - 53s 4s/step - loss: 2.1372 - accuracy: 0.7234 - val_loss: 0.5739 - val_accuracy: 0.9534
12/12 [==============================] - 43s 4s/step - loss: 0.4820 - accuracy: 0.9537 - val_loss: 0.3862 - val_accuracy: 0.9534
12/12 [==============================] - 43s 4s/step - loss: 0.3853 - accuracy: 0.9537 - val_loss: 0.3717 - val_accuracy: 0.9534
12/12 [==============================] - 42s 4s/step - loss: 0.3910 - accuracy: 0.9537 - val_loss: 0.3360 - val_accuracy: 0.9534
12/12 [==============================] - 43s 4s/step - loss: 0.3329 - accuracy: 0.9537 - val_loss: 0.3232 - val_accuracy: 0.9534
12/12 [==============================] - 42s 4s/step - loss: 0.3228 - accuracy: 0.9537 - val_loss: 0.3254 - val_accuracy: 0.9534
12/12 [==============================] - 42s 4s/step - loss: 0.3404 - accuracy: 0.9537 - val_loss: 0.3713 - val_accuracy: 0.9534
12/12 [==============================] - 43s 4s/step - loss: 0.3504 - accuracy: 0.9537 - val_loss: 0.3146 - val_accuracy: 0.9534
12/12 [==============================] - 43s 4s/step - loss: 0.2949 - accuracy: 0.9537 - val_loss: 0.2906 - val_accuracy: 0.9534
12/12 [==============================] - 43s 4s/step - loss: 0.3297 - accuracy: 0.9538 - val_loss: 0.5413 - val_accuracy: 0.9523
12/12 [==============================] - 43s 4s/step - loss: 0.5165 - accuracy: 0.9247 - val_loss: 0.4469 - val_accuracy: 0.9177
12/12 [==============================] - 43s 4s/step - loss: 0.4073 - accuracy: 0.9289 - val_loss: 0.3885 - val_accuracy: 0.9374
12/12 [==============================] - 43s 4s/step - loss: 0.3615 - accuracy: 0.9422 - val_loss: 0.3568 - val_accuracy: 0.9462
12/12 [==============================] - 43s 4s/step - loss: 0.3365 - accuracy: 0.9486 - val_loss: 0.3408 - val_accuracy: 0.9505
12/12 [==============================] - 43s 4s/step - loss: 0.3156 - accuracy: 0.9515 - val_loss: 0.3083 - val_accuracy: 0.9519
12/12 [==============================] - 43s 4s/step - loss: 0.2866 - accuracy: 0.9527 - val_loss: 0.2811 - val_accuracy: 0.9526
12/12 [==============================] - 42s 4s/step - loss: 0.2726 - accuracy: 0.9532 - val_loss: 0.2761 - val_accuracy: 0.9530
12/12 [==============================] - 43s 4s/step - loss: 0.2606 - accuracy: 0.9535 - val_loss: 0.2686 - val_accuracy: 0.9532
12/12 [==============================] - 42s 4s/step - loss: 0.2542 - accuracy: 0.9536 - val_loss: 0.2572 - val_accuracy: 0.9533
12/12 [==============================] - 43s 4s/step - loss: 0.2370 - accuracy: 0.9537 - val_loss: 0.2520 - val_accuracy: 0.9533
12/12 [==============================] - 42s 4s/step - loss: 0.2386 - accuracy: 0.9537 - val_loss: 0.2524 - val_accuracy: 0.9534
12/12 [==============================] - 43s 4s/step - loss: 0.2241 - accuracy: 0.9537 - val_loss: 0.2332 - val_accuracy: 0.9534
12/12 [==============================] - 43s 4s/step - loss: 0.2128 - accuracy: 0.9538 - val_loss: 0.2336 - val_accuracy: 0.9534
12/12 [==============================] - 43s 4s/step - loss: 0.2078 - accuracy: 0.9538 - val_loss: 0.2201 - val_accuracy: 0.9534
12/12 [==============================] - 43s 4s/step - loss: 0.2008 - accuracy: 0.9538 - val_loss: 0.2214 - val_accuracy: 0.9534

In [27]:
import spacy
from spacy import displacy
nlp = spacy.load('en_core_web_sm')
text = nlp('Hi, I am Manvitha \n I live in Ireland \n I want to work for Facebook \n Obama is My Inspiration')
displacy.render(text, style = 'ent', jupyter=True)